.sg-tooltip {
    --sg-popover-bg-color: var(--sg-bg-color-overlay);
    --sg-popover-font-size: var(--sg-font-size-base);
    --sg-popover-border-color: var(--sg-border-color);
    --sg-popover-padding: 12px;
    --sg-popover-border-radius: 4px;
    display: inline-block;
}

.sg-tooltip {
    .sg-tooltip__popper {
        background: var(--sg-popover-bg-color);
        border-radius: var(--sg-popover-border-radius);
        border: 1px solid var(--sg-popover-border-color);
        padding: var(--sg-popover-padding);
        color: var(--sg-text-color-regular);
        line-height: 1.4;
        text-align: justify;
        font-size: var(--sg-popover-font-size);
        box-shadow: var(--sg-box-shadow-light);
        word-break: break-all;
        box-sizing: border-box;
        z-index: 1000;
        #arrow,
        #arrow::before {
        position: absolute;
        width: 8px;
        height: 8px;
        box-sizing: border-box;
        background : var(--sg-popover-bg-color);
        }
        #arrow {
        visibility: hidden;
        }
        #arrow::before {
        visibility: visible;
        content: "";
        transform: rotate(45deg);
        }
        &[data-popper-placement^="top"] >#arrow{
            bottom: -5px;
        }
        &[data-popper-placement^="bottom"] >#arrow{
            top: -5px;
        }
        &[data-popper-placement^="left"] >#arrow{
            right: -5px;
        }
        &[data-popper-placement^="right"] >#arrow{
            left: -5px;
        }
        &[data-popper-placement^="top"] >#arrow::before{
            border-right: 1px solid var(--sg-popover-border-color);
            border-bottom: 1px solid var(--sg-popover-border-color);
        }
        &[data-popper-placement^="bottom"] >#arrow::before{
            border-left: 1px solid var(--sg-popover-border-color);
            border-top: 1px solid var(--sg-popover-border-color);
        }
        &[data-popper-placement^="left"] >#arrow::before{
            border-right: 1px solid var(--sg-popover-border-color);
            border-top: 1px solid var(--sg-popover-border-color);
        }
        &[data-popper-placement^="right"] >#arrow::before{
            border-left: 1px solid var(--sg-popover-border-color);
            border-bottom: 1px solid var(--sg-popover-border-color);
        }
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity var(--sg-transition-duration);
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }
}